{% extends "layout.twig" %}

{% block title %} Identificar usuario {% endblock %}

{% block main_container %}
  <h2>Identificaci칩n de usuario</h2>

  {% if logout %}
    <!-- Eliminamos clase "fade show" y a침adimos estilo "display: block !important" -->
    <div class="alert alert-success alert-dismissible" style="display: block !important; opacity: 1 !important;">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <span>Ha cerrado sesi칩n correctamente</span>
    </div>
  {% endif %}

  <form class="form-horizontal" method="post" action="/users/login" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="dni">Dni:</label>
      <div class="col-sm-10">
        <input id="dni" type="text" class="form-control" name="dni"
               placeholder="12345678Q" required="true" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password:</label>
      <div class="col-sm-10">
        <input id="password" type="password"  class="form-control" name="password"
               placeholder="contrase침a" required="true" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </form>
{% endblock %}