{% extends "layout.twig" %}
{% block title %} Añadir repostaje {% endblock %}

{% block main_container %}
    <h2>Añadir nuevo repostaje</h2>

    {% if errors %}
        <div class="alert alert-danger">
            {% for key, message in errors %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <form class="form-horizontal" method="post" action="/refuels/add">
        <div class="form-group">
            <label class="control-label col-sm-2" for="stationName">Estación de servicio:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"
                       id="stationName" name="stationName"
                       placeholder="Nombre de la estación de servicio" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="price">Precio (€/unidad):</label>
            <div class="col-sm-10">
                <input type="number" class="form-control"
                       id="price" name="price" step="0.001"
                       placeholder="Precio por unidad de combustible" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="amount">Cantidad:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control"
                       id="amount" name="amount" step="0.01"
                       placeholder="Cantidad repostada" required/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="odometer">Odómetro:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control"
                       id="odometer" name="odometer"
                       placeholder="Lectura actual del odómetro" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="fullTank" name="fullTank" value="true">
                        Depósito lleno
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="comments">Observaciones:</label>
            <div class="col-sm-10">
                <textarea class="form-control"
                          id="comments" name="comments"
                          placeholder="Observaciones adicionales"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Registrar repostaje</button>
            </div>
        </div>
    </form>
{% endblock %}